{% extends 'base.html' %}

{% block contenido %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-1 column">
		</div>
		<div class="col-md-4 column">
			<form role="form" id="formulario" action="/fotografia/{{ action }}/" method="post">
				{% csrf_token %}
							
			
 				<div class="form-group">
					<label for="exampleInputEmail1"> Titulo:</label>
					<input  class="form-control" name="titulo" value="{{ titulo }}"><br />
				</div>

				<div class="form-group">
					<label for="exampleInputEmail1"> Description:</label>
					<input  class="form-control" name="descripcion" value="{{ descripcion }}"><br />
				</div>

				<div class="form-group">
				    <label for="exampleInputFile">File input</label>
				    <input type="file" id="id_imagen" name="imagen"  >
				 
				</div>
		

				<div class="form-group">
					<input type=submit value="{{ button }}">					
				</div>

			</form>
		</div>

	</div>
</div>
{% endblock %}