{% extends 'base.html' %}

{% block titulo %} {{fotografia.titulo}} {% endblock %}

{% block encabezado %} 
  <h1>{{fotografia.titulo|title}}</h1>
{% endblock %}

{% block contenido %}


<div id="content">  
    <div id="mainContent">  
	
	</div>

</div>


<div class="container">
	<div class="row clearfix">

		<div class="col-md-9 column">

			<div class="col-md-5 column">

					<div class="thumbnail"  id='referencia'>
						<img style="height:auto;" class="img-responsive" class="img-rounded" src='{{MEDIA_URL}}{{fotografia.imagen}}'>
					</div>

			</div>

			<div class="col-md-7 column">
			
				<div id='ingredientes'>
					<h2>Ingredientes</h2>
					<p>{{fotografia.ingredientes}}</p>
				</div>				
				
				<div id='preparacion'>
					<h2>Preparación</h2>
					<p>{{fotografia.preparacion}}</p>
					<p>
							Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
					</p>
				</div>	
				
			</div>

			<div class="row clearfix">

				<div class="col-md-12 column">

					<div class="thumbnail"  id='referencia'>
					<img  style="height: auto;" class="img-responsive" class="img-rounded" src='{{MEDIA_URL}}{{fotografia.imagen}}'>
					</div>
				</div>

			</div>


			<div class="row clearfix">
				<div class="col-md-6 column">
					<textarea class="form-control" rows="5"></textarea>	</br >
						<div id='comentarios'>
							<h2>Comentarios</h2>
								{% for item in comentarios %}
									<p>{{item.texto}}</p>
								{% empty %}
									<p>Sin comentarios registrados</p>
								{% endfor %}
						</div>

						<section id="comments">  
								<header>  
									<h3>Commentarios</h3>  
								</header>  
								<article>  
									<header>  
										<a href="#">George Washington</a> on <time datetime="2009-06-29T23:35:20+01:00">June 29th 2009 at 23:35</time>  
									</header>  
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut                 enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>  
								</article>  

						</section> 		
				</div>
				<div class="col-md-6 column">
				</div>
			</div>
		
		</div>

		<div class="col-md-3 column" id="publicidad">
				<br>
				<div class="thumbnail"  id='referencia'>
					<img  style="height: auto;" class="img-responsive" class="img-rounded" src='{{MEDIA_URL}}{{fotografia.imagen}}'>
				</div>
				<div class="thumbnail"  id='referencia'>
					<img  style="height: auto;" class="img-responsive" class="img-rounded" src='{{MEDIA_URL}}{{fotografia.imagen}}'>
				</div>
				<p>
				Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
				</p>
		
		</div>
	</div>



	
</div>


<div class="container">

	
</div>


{% endblock %}
