{% extends 'base.html' %}

{% block titulo %} Fotografias {% endblock %}


{% block css %}
  <style>
	img { width:100px; }
  </style>
{% endblock %}


{% block encabezado %}
	<h1>Fotografias</h1>
{% endblock %}

{% block contenido %}
<a href="/fotografia/nueva">Agregar una receta</a>




<div class="container">
<!-- <ul class="slides"> -->
	<!-- <div> -->
	<!-- {% for dato in datos %} -->
	<!-- <li> -->
	<!-- <div> -->
		<!-- <p>{{dato.titulo}}</p> -->

		<div class="row"> 
        <!-- {% for dato in datos %} -->
	        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
	        	<a class="thumbnail" href="#">
	                    <img width="400px" height="300px" class="img-responsive" src='{{MEDIA_URL}}{{dato.imagen}}' >
				</a>
	        </div>  


        <!-- {% endfor %}  -->
		</div> 
		<!-- </div> -->

	<!-- </li> -->
<!-- 	{% empty %}
	<li>aun no hay fotografias</li>
	{% endfor %} -->
<!-- </ul> -->
</div>

{% endblock %}
