{% extends 'base.html' %}

{% block titulo %} Fotografias {% endblock %}


{% block css %}
  <style>
	img { width:100px; }
  </style>
{% endblock %}


{% block encabezado %}
	<h1>Fotografias</h1>
{% endblock %}

{% block contenido %}
<button type="button" class="btn btn-success"><a href="/fotografia/nueva">Agregar una fotografia</a></button>


<div class="container">


   <div class="row clearfix">

        {% for dato in datos %}
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <!-- <div class="col-md-12 column"> -->
                  <div class="row">
                      <!-- <div class="col-md-4"> -->
                        <div class="thumbnail" >

          	                <a href='{% url "principal.views.detalle_fotografia" dato.id %}'>
          	                    <img style="width: 300px; height: 200px;" src="{{MEDIA_URL}}{{dato.imagen}}" alt="">
          	                </a>

                            <div class="caption">
                                <h3>
                                  {{dato.titulo}}
                                </h3>
                                <p>
                                  {{dato.descripcion}}
                                </p>
                            </div>
                            <td><a href='/fotografia/delete/{{ dato.id }}'>Eliminar</a></td>
                            <td><a href='/fotografia/edit/{{ dato.id }}'>Editar</a></td>
                            <td><a href='/fotografia/update/{{ dato.id }}'>Editar</a></td>
                  

                            <button type="button" class="btn btn-default btn-lg">
                                <input type="hidden" value="{{alert.id}}" name="alert_id">
                                <span class="glyphicon glyphicon-star"></span> eliminar
                            </button> 

                        </div>
                  </div>
                  <!-- </div> -->
              </div>
              <!-- </div> -->

        {% endfor %}            
    </div>
</div>


{% endblock %}
