@font-face {
  font-family: 'iconitos';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf") format('truetype'), url("../fonts/icomoon.woff") format('woff'), url("../fonts/icomoon.svg#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* algunos ejemplos con CSS */
body,
header,
footer,
div,
h1,
h2,
ul,
li,
a {
  margin: 0 padding 0;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 10px;
}
.activo,
font-weight: bold,
.impar {
  background-color: #90ee90;
}
.par {
  background-color: #5acc5a;
}
#publicidad {
  background-color: #dcdfdf;
  border: outset 0px #ebe4eb;
  -moz-border-radius: 0 0 0.8em 0.9em;
  -webkit-border-radius: 0 0 0.8em 0.9em;
  border-radius: 0 0 0.8em 0.9em;
  -moz-box-shadow: 8px 7px 8px #000;
  -webkit-box-shadow: 8px 7px 8px #000;
  box-shadow: 8px 7px 8px #000;
}
/*boton thumbail*/
@import url("http://fonts.googleapis.com/css?family=Lobster");
* {
  box-sizing: border-box;
}
.buttont {
  width: 70px;
  height: 30px;
  background: #916859;
  position: relative;
  text-decoration: none;
/*top 58%*/
/*left 50%
	margin-left -80px
	margin-top -75px*/
  border-radius: 10px;
  text-align: center;
  line-height: 25px;
  border-bottom: 5px solid #715146;
  font-family: 'Lobster', cursive;
  font-size: 15px;
  color: #a47a6a;
  text-shadow: -1px -1px 1px rgba(255,255,255,0.3), 1px 1px 1px rgba(0,0,0,0.3);
  transition: all 0.1s linear 0s;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 5px 10px 0 rgba(0,0,0,0.2);
}
.buttont:active {
  border-bottom: 5px solid #715146;
  transition: all 0.1s ease-in 0s;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.1);
}
.buttont:hover {
/*background #8b6355*/
  border-bottom: 3px solid #715146;
  background-color: #8b6355 !important;
}
/*caption*/
.caption h3 {
  font-size: 14px;
  font-family: 'Lobster', 'cursive';
}
@import url("http://fonts.googleapis.com/css?family=OpenSansCondensed");
.caption p {
  font-size: 14px;
  font-family: 'Open Sans Condensed', 'cursive', font-weight 200;
}
/**dandole un estilos de pinterest*/
.wrapper {
  width: 100%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
}
.columns {
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 15px;
  column-fill: auto;
}
.pin {
  display: inline-block;
  background: #fefefe;
  border: 2px solid #fafafa;
  box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #fff, #f9f9f9);
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.pin .acciones {
  border-top: 3px solid #7a7a7a;
  text-decoration: none;
  overflow: visible;
  width: 100%;
  height: auto;
}
.pin .acciones .votos {
  float: left;
}
.pin .acciones .votos .down,
.pin .acciones .votos .up {
  text-decoration: none;
}
.pin .acciones .votos .down:before,
.pin .acciones .votos .up:before {
  font-family: "iconitos";
  font-size: 1.5em;
  vertical-align: middle;
}
.pin .acciones .votos .down {
  color: #f00;
}
.pin .acciones .votos .down:before {
  content: "\e602";
}
.pin .acciones .votos .up {
  color: #008000;
}
.pin .acciones .votos .up:before {
  content: "\e603";
}
.pin .acciones .datos {
  float: right;
}
.pin .acciones .datos .comentarios {
  background: #444;
  border-radius: 3px;
  color: #fff;
  margin: 0 1em 0 0;
  padding: 2px 5px;
  text-decoration: none;
}
.pin .acciones .datos .estrellita {
  text-decoration: none;
}
.pin .acciones .datos .estrellita:after {
  color: #fcb92d;
  content: "\e601";
  font-family: "iconitos";
  font-size: 1.1em;
}
@media (min-width: 960px) {
  .columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
@media (min-width: 1953px) {
  .columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}
@media (min-width: 2300px) {
  .columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}
@media (min-width: 2500px) {
  .columns {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }
}
@media (min-width: 2800px) {
  .columns {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }
}
.columns:hover .pin:not(:hover) {
  opacity: 0.4;
}
/*probando el rsponsive de bootstrap 3.0*/
.col {
  background-color: #aaa;
  border: 2px solid #444;
}
