.container {
  margin: 0;
  padding: 0;
}
nav {
  background: #444;
  box-shadow: 0 8px 0 rgba(0,0,0,0.2);
  color: #fff;
  overflow: hidden;
  margin: 0 0 0;
  position: relative;
  z-index: 1;
}
.logo {
  border-right: 1px solid azul;
  float: left;
  width: 60px;
}
.logo img {
  width: 52px;
}
.titular {
  margin: 0 60px 0 70px;
}
.titular .publicar {
  background: #ffa500;
  color: #fff;
  font-style: italic;
  margin: 20px -3em 0 0;
  padding: 0.2em 0.5em;
  text-decoration: none;
  text-shadow: 1px 1px 0px #000;
  float: right;
}
.titular .publicar:before {
  content: "\e600";
  display: inline-block;
  font-family: "iconitos";
  margin: 0 3px 0 0;
  text-shadow: none;
}
.usuario {
  position: absolute;
  top: 8px;
  right: 10px;
}
.usuario .avatar {
  margin: 0 1em 0 0;
  position: relative;
  z-index: 2;
}
.usuario .avatar img {
  width: 50px;
  border-radius: 50%;
}
.usuario .flechita {
  background: #ffa500;
  color: #fff;
  display: block;
  padding: 2px;
  position: absolute;
  right: 0;
  top: 10px;
  text-align: right;
  text-decoration: none;
  width: 50%;
  z-index: 0;
}
.usuario .flechita:after {
  content: "\e602";
  display: block;
  font-family: "iconitos";
  margin: 1px 0 0 1px;
  text-shadow: 1px 1px 0px #000;
}
