gris_oscuro = #444
naranja=orange
.container
		margin 0
		padding 0
nav
	//.headerpersonal
		background gris_oscuro
		box-shadow 0 8px 0 rgba(0,0,0,0.2)
		color white
		overflow hidden
		//padding 0.5em
		margin  0 0 0
		position relative
		z-index 1

	.logo
		border-right 1px solid azul
		float left
		width 60px

		img
			width 52px

	.titular
		margin 0 60px 0 70px

		.publicar
			background naranja
			color white
			font-style italic
			margin 20px -3em 0 0
			padding 0.2em 0.5em
			text-decoration none
			text-shadow 1px 1px 0px black
			float right

	.usuario
		position absolute
		top 8px
		right 10px

		.avatar
			margin 0 1em 0 0
			position relative
			z-index 2

			img
				width 50px
				border-radius 50%

		.flechita			
			background naranja
			color red
			display block
			padding 3px
			position absolute
			right 0
			top 10px
			text-align right
			width 50%
